<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    #style('/static/css/base.scss')
    <!--WIDGET_CSS_HOLDER-->
</head>
<body>
    #widget('widget/header/header.vm')

    <section><img src="#uri('/static/img/logo.png')"></section>

    <section>
        <h2>this is body</h2>
    </section>

    #set($addr = $user.addr())
    <p>zipcode: $addr.zipcode</p>
    <p>city: $addr.city</p>

    <p>add: $util.add(3, 7) </p>

    <p>#commonMacro(1, 2, 3)</p>

    #widget('widget/footer/footer.vm')

    #script('/static/lib/require.js')

    <!--WIDGET_JS_HOLDER-->

</body>
</html>