<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>
    #widget('widget/header/header.vm')

    #if(1>2)
    #widget('list/list.vm')
    #end
    #widget('widget/footer/footer.vm')

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>